/*576*/
/*450*/
/*414*/
/*400*/
/*380*/
/*375*/
/*360*/
/*320*/
* {
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  background: #15141A;
}

#family .family--logo {
  padding: 0 0 100px 0;
  }
#header {
  backdrop-filter: blur(27.5px);
  background: rgba(38, 39, 43, 0.33);
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
#header .header-_logos {
  display: flex;
  align-items: flex-end;
}
#family .family--logo h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 250%;
  line-height: 48px;
  color: #FFFFFF;
}
#family .family--logo p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 29px;
  color: #F1B864;
}
#family .family--img {
  animation: myAnim 5s ease-in-out 1;
}
#family .family--img__image {
  width: 80%;
}
#family .family--img h1 {
  left: -200px;
  top: -200px;
  position: relative;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 250%;
  line-height: 48px;
  color: #FFFFFF;
}
@keyframes myAnim {
  0% {
    transform: scale(-1);
  }
}

#nfts .nfts {
  padding: 100px 0;
}
#nfts .nfts--logo p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 29px;
  color: #F1B864;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #EEB563;
  padding: 0 0 50px 0;
}
#hero .hero-_title-_img {
  width: 192px;
}
#hero .hero-_title-_image {
  width: 318px;
}
#nfts .nfts--logo h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 250%;
  line-height: 48px;
  color: #FFFFFF;
}
#nfts .nfts--p {
  padding: 20px 0;
  border-bottom: 1px solid #727272;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nfts .nfts--p p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 29px;
  color: #F1B864;
}
#nfts .nfts--text {
  padding: 40px 0;
  border-bottom: 1px solid #727272;
}
#nfts .nfts--text__lorem {
  display: none;
  padding: 100px 50px;
}
#nfts .nfts--text__lorem p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 29px;
  color: #F1B864;
}
#nfts .nfts--text #lorem:checked ~ .nfts--text__lorem {
  display: block;
}
#nfts .nfts--text #lorem1:checked ~ .nfts--text__lorem {
  display: block;
}
#nfts .nfts--text #lorem2:checked ~ .nfts--text__lorem {
  display: block;
}
#nfts .nfts--text input {
  display: none;
}
#nfts .nfts--text__tex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
#nfts .nfts--text__tex h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 250%;
  line-height: 48px;
  color: #FFFFFF;
  width: 20%;
}
#nfts .nfts--text__tex h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 250%;
  line-height: 48px;
  color: #FFFFFF;
  font-size: 200%;
}
#nfts .nfts--text__tex p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 29px;
  color: #F1B864;
  color: #FFFFFF;
  width: 35%;
}
#nfts .nfts--text__tex--icon {
  color: #F1B864;
  padding: 0 10px;
}
#nfts .nfts--text label {
  padding: 5px;
  font-size: 40px;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
}
#nfts .nfts--text label:hover {
  background: #F1B864;
  cursor: pointer;
  padding: 10px;
}

#footer .footer {
  padding: 31px 0;
}
#footer .footer__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#footer .footer__title--logo {
  width: 300px;
}
#footer .footer__title-_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer__title-_menu--texts {
  width: 220px;
}
#footer .footer__title-_menu--texts__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 70px;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
}
#footer .footer__title-_menu--texts__text2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 70px;
  color: #FFFFFF;
}
#footer .footer__title--email {
  padding: 20px 0 0 0;
}
#footer .footer__title--email__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 70px;
  width: 290px;
}
#footer .footer__title--email__inputs {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 0 0;
}
#footer .footer__title--email__inputs--input {
  background: none;
  border: 1px solid #B5B5B5;
  border-radius: 9px;
  padding: 17px 100px 17px 22px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
#footer .footer__title--email__inputs--btn {
  background: #FE773B;
  border-radius: 2px;
  width: 54px;
  height: 56px;
  position: absolute;
  border: none;
}
#footer .footer__title--email__inputs--btn__icon {
  color: #FFFFFF;
  width: 20px;
  height: 20px;
}
#footer .footer__title--email__inputs--btn:hover {
  background: #763b00;
  cursor: pointer;
}

@media (max-width: 1140px) {
  #nfts .nfts--text__tex p {
    font-size: 13px;
  }
  #nfts .nfts--text__tex h1 {
    font-size: 29px;
  }
  #footer .footer__title-_menu--texts__text {
    font-size: 28px;
  }
  #footer .footer__title-_menu--texts__text2 {
    font-size: 28px;
  }
  #footer .footer__title--email__text {
    font-size: 28px;
    width: 250px;
  }
  #footer .footer__title--logo {
    width: 220px;
  }
  #footer .footer__title-_menu--texts {
    padding: 15px 0 0 0;
  }
  #footer .footer__title--email {
    padding: 15px 0 0 0;
  }
  #footer .footer__title--email__inputs--input {
    font-size: 14px;
    padding: 15px 90px 15px 18px;
  }
  #footer .footer__title--email__inputs--btn {
    height: 52px;
  }
  #footer .footer--block__p {
    font-size: 14px;
  }
  #footer .footer--block__icons--icon {
    height: 35px;
  }
  #footer .footer--block__icons {
    width: 230px;
  }
  #footer .footer--block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 920px;
    padding: 70px 0 0 0;
  }
}
@media (max-width: 1024px) {
  #family .family--img h1 {
    left: -154px;
    top: -160px;
  }
  #footer .footer__title-_menu--texts {
    padding: 15px 0 0 0;
    width: 200px;
  }
  #footer .footer__title-_menu--texts__text {
    font-size: 26px;
  }
  #footer .footer__title-_menu--texts__text2 {
    font-size: 26px;
  }
  #footer .footer__title--logo {
    width: 200px;
  }
  #footer .footer__title--email__inputs--input {
    font-size: 14px;
    padding: 15px 68px 15px 18px;
  }
  #footer .footer--block {
    width: 850px;
  }
}
@media (max-width: 992px) {
  #nfts .nfts--text label {
    font-size: 25px;
  }
  #family .family--img h1 {
    font-size: 180%;
  }
}
@media (max-width: 768px) {
  #nfts .nfts--text__tex h1 {
    font-size: 150%;
  }
  #nfts .nfts--text__tex h2 {
    font-size: 150%;
  }
  #nfts .nfts--logo h1 {
    font-size: 150%;
  }
  #family .family--logo h1 {
    font-size: 150%;
  }
  #family .family--img h1 {
    left: -120px;
    top: -124px;
  }
  #footer .footer__title-_menu--texts__text {
    font-size: 20px;
  }
  #footer .footer__title-_menu--texts__text2 {
    font-size: 20px;
    line-height: 25px;
  }
  #footer .footer__title-_menu--texts {
    padding: 12px 0 0 0;
    width: 130px;
  }
  #footer .footer__title--email__text {
    font-size: 22px;
    width: 196px;
    line-height: 50px;
  }
  #footer .footer__title--email {
    padding: 25px 0 0 0;
  }
  #footer .footer__title--logo {
    width: 180px;
  }
  #footer .footer__title--email__inputs--input {
    font-size: 10px;
    padding: 10px 70px 10px 18px;
  }
  #footer .footer__title--email__inputs--btn {
    height: 41px;
    width: 43px;
  }
  #footer .footer--block {
    width: 670px;
  }
  #footer .footer--block__p {
    width: 212px;
    font-size: 11px;
  }
  #footer .footer--block__icons--icon {
    height: 25px;
  }
  #footer .footer--block__icons {
    width: 180px;
  }
  #footer .footer--block__S {
    width: 100px;
  }
  #footer .footer--block__S--2022 {
    font-size: 11px;
  }
  #footer .footer--block__S--text {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  #nfts .nfts--text__tex p {
    font-size: 40%;
    line-height: 16px;
  }
  #nfts .nfts--text__tex h1 {
    font-size: 90%;
    line-height: 23px;
  }
  #nfts .nfts--text__tex h2 {
    font-size: 90%;
  }
  #nfts .nfts--text label {
    padding: 3px;
    font-size: 15px;
  #hero .hero-_stars-_line5 {
    left: 501px;
    top: 628px;
  }
  #hero .hero-_stars-_star {
    top: 77px;
    left: 417px;
  }
  #hero .hero-_stars-_star3 {
    left: 471px;
    top: 160px;
  }
  #hero .hero-_stars-_star2 {
    left: 545px;
    top: 100px;
  }
  #hero .hero-_img {
    padding: 100px 0;
  }
  #hero .hero {
    padding: 80px 0 30px 0;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  #footer .footer__title-_menu--texts__text {
    font-size: 14px;
    line-height: 45px;
  }
  #footer .footer__title-_menu--texts__text2 {
    font-size: 14px;
  }
  #footer .footer__title-_menu--texts {
    padding: 5px 0 0 0;
    width: 90px;
  }
  #footer .footer__title--email__text {
    font-size: 18px;
    width: 160px;
    line-height: 32px;
  }
  #footer .footer__title--email {
    padding: 13px 0 0 0;
  }
  #footer .footer__title--logo {
    width: 120px;
  }
  #footer .footer__title--email__inputs--input {
    font-size: 10px;
    padding: 8px 37px 8px 13px;
  }
  #footer .footer__title--email__inputs--btn {
    height: 37px;
    width: 37px;
  }
  #footer .footer--block {
    width: 490px;
  }
  #footer .footer--block__p {
    width: 178px;
    font-size: 10px;
  }
  #footer .footer--block__icons--icon {
    height: 20px;
  }
  #footer .footer--block__icons {
    width: 140px;
  }
  #footer .footer--block__S {
    width: 85px;
  }
  #footer .footer--block__S--2022 {
    font-size: 10px;
  }
  #footer .footer--block__S--text {
    font-size: 30px;
  }
}
@media (max-width: 451px) {
  #hero .hero-_text {
    font-size: 35px;
    line-height: 45px;
  }
  #hero .hero-_title-_img {
    width: 65px;
  }
  #hero .hero-_title-_image {
    width: 115px;
  }
  #hero .hero-_img {
    padding: 40px 0;
  }
  #hero .hero-_img-_img-_image {
    width: 140px;
  }
  #hero .hero-_img-_img {
    width: 3px;
    height: 206px;
    border-radius: 72px;
  }
  #hero .hero-_sites-_logo h1 {
    font-size: 12px;
  }
  #hero .hero-_sites-_logo-_site-_img {
    width: 95px;
  }
  #hero .hero-_sites-_logo-_site-_image {
    width: 20px;
  }
  #hero .hero-_sites-_logo-_site-_img-logo {
    width: 14px;
  }
  #hero .hero-_sites-_image-_img2 {
    width: 80px;
  }
  #hero .hero-_sites-_image-_img1 {
    width: 65px;
  }
  #hero .hero-_sites-_image-_img3 {
    width: 100px;
  }
  #hero .hero-_sites-_image-_img4 {
    width: 60px;
  }
  #hero .hero-_sites-_image-_img5 {
    width: 35px;
  }
  #hero .hero-_stars-_line2 {
    width: 121px;
    height: 35px;
    left: 10px;
    top: 460px;
  }
  #hero .hero-_stars-_line4 {
    width: 38px;
    height: 14px;
    left: 106px;
    top: 498px;
  }
  #header .header-_logos-_logo {
    font-size: 25px;
  }
  #header .header-_logos-_logo2 {
    font-size: 16px;
    height: 21px;
  }
  #header .header-_input {
    padding: 8px 45px 8px 20px;
    font-size: 12px;
  }
  #header .header-_icons {
    width: 40px;
  }
  #hero .hero-_img-_p {
    padding: 140px 0 0 0;
  }
  #hero .hero-_stars-_star4 {
    left: 107px;
    top: 370px;
  }
  #hero .hero-_stars-_star5 {
    top: 525px;
    left: 110px;
    width: 15px;
    height: 15px;
  }
  #hero .hero-_stars-_star1 {
    width: 15px;
    height: 15px;
    left: 60px;
    top: 169px;
  }
  #hero .hero-_stars-_line {
    left: 35px;
    top: 220px;
  }
  #hero .hero-_stars-_star {
    left: 350px;
  }
  #hero .hero-_stars-_star3 {
    left: 360px;
  }
  #hero .hero-_stars-_star2 {
    left: 380px;
  }
  #nfts .nfts--text__lorem p {
    font-size: 32%;
    line-height: 12px;
  }
  #nfts .nfts--text__lorem {
    padding: 6px 50px;
  }
  #nfts .nfts--p p {
    font-size: 63%;
  }
  #family .family--img h1 {
    font-size: 131%;
    left: -86px;
    top: -101px;
  }
  #footer .footer__title-_menu--texts__text2 {
    font-size: 10px;
    line-height: 0;
  }
  #footer .footer__title-_menu--texts__text {
    font-size: 10px;
  }
  #footer .footer__title--email__text {
    font-size: 13px;
    width: 116px;
    line-height: 25px;
  }
  #footer .footer__title-_menu--texts {
    padding: 3px 0 0 0;
    width: 65px;
  }
  #footer .footer__title--logo {
    width: 95px;
  }
  #footer .footer__title--email__inputs--input {
    font-size: 7px;
    padding: 4px 26px 4px 10px;
  }
  #footer .footer__title--email__inputs--btn {
    height: 29px;
    width: 29px;
  }
  #footer .footer--block__p {
    width: 125px;
    font-size: 7px;
  }
  #footer .footer--block {
    width: 365px;
  }
  #footer .footer--block__icons--icon {
    height: 15px;
  }
  #footer .footer--block__icons {
    width: 100px;
  }
  #footer .footer--block__S--2022 {
    font-size: 7px;
  }
  #footer .footer--block__S--text {
    font-size: 20px;
  }
  #footer .footer--block__S {
    width: 60px;
  }
}
@media (max-width: 415px) {
  #family .family--logo h1 {
    font-size: 100%;
    line-height: 18px;
  }
  #family .family--logo {
    padding: 0 0 10px 0;
  }
  #family .family--img h1 {
    font-size: 96%;
    left: -67px;
    top: -79px;
  }
  #nfts .nfts {
    padding: 0;
  }
}
@media (max-width: 400px) {
  #nfts .nfts--text__tex p {
    font-size: 1%;
    line-height: 10px;
@media (max-width: 401px) {
  #footer .footer__title-_menu--texts__text {
    font-size: 9px;
    line-height: 39px;
  }
  #footer .footer__title-_menu--texts__text2 {
    font-size: 9px;
  }
  #footer .footer__title--email__text {
    font-size: 11px;
    width: 98px;
    line-height: 20px;
  }
  #footer .footer__title--logo {
    width: 80px;
  }
  #footer .footer__title-_menu--texts {
    padding: 0 0 0 0;
    width: 59px;
  }
  #footer .footer__title--email {
    padding: 10px 0 0 0;
  }
  #footer .footer__title--email__inputs--input {
    font-size: 5px;
    padding: 2px 30px 2px 10px;
  }
  #footer .footer__title--email__inputs--btn {
    height: 25px;
    width: 25px;
  }
  #footer .footer__title--email__inputs--btn__icon {
    width: 11px;
    height: 11px;
  }
  #footer .footer--block__p {
    width: 90px;
    font-size: 5px;
    line-height: 10px;
  }
  #footer .footer--block {
    width: 310px;
  }
  #footer .footer--block__S--2022 {
    font-size: 5px;
  }
  #footer .footer--block__S--text {
    font-size: 17px;
  }
  #footer .footer--block__S {
    width: 45px;
  }
  #hero .hero-_text {
    font-size: 30px;
    line-height: 36px;
  }
  #hero .hero-_text {
    font-size: 30px;
    line-height: 36px;
  }
  #nfts .nfts--text__tex h1 {
    font-size: 61%;
    line-height: 14px;
  }
  #nfts .nfts--text__tex h2 {
    font-size: 53%;
  }
  #nfts .nfts--logo h1 {
    font-size: 113%;
  }
  #nfts .nfts--text {
    padding: 8px 0;
  }
}
@media (max-width: 380px) {
  #nfts .nfts--text__tex p {
    font-size: 5px;
    line-height: 8px;
  }
  #nfts .nfts--text label {
    padding: 0;
    font-size: 10px;
  }
  #nfts .nfts--p {
    padding: 0;
  #hero .hero-_sites-_logo-_site-_img {
    width: 80px;
  }
  #hero .hero-_sites-_logo-_site-_img-logo {
    width: 10px;
  }
  #hero .hero-_sites-_logo-_site-_image {
    width: 15px;
  }
  #hero .hero-_sites-_image-_img2 {
    width: 70px;
  }
  #hero .hero-_sites-_image-_img1 {
    width: 55px;
  }
  #hero .hero-_sites-_image-_img3 {
    width: 85px;
  }
  #hero .hero-_sites-_image-_img4 {
    width: 50px;
  }
  #hero .hero-_sites-_image-_img5 {
    width: 30px;
  }
  #header .header-_logos-_logo {
    font-size: 20px;
  }
  #header .header-_logos-_logo2 {
    font-size: 15px;
    height: 19px;
  }
  #header .header-_input {
    padding: 8px 50px 8px 20px;
    font-size: 7px;
  }
  #header .header-_icons {
    width: 40px;
  }
  #header .header-_logos-_star {
    left: 90px;
    top: 24px;
  }
  #hero .hero-_stars-_star1 {
    top: 151px;
  }
  #hero .hero-_stars-_line {
    top: 190px;
  }
  #hero .hero-_stars-_star3 {
    left: 310px;
    top: 140px;
  }
  #hero .hero-_stars-_line3 {
    left: 310px;
    top: 295px;
  }
  #hero .hero-_stars-_line1 {
    left: 310px;
    top: 210px;
  }
  #hero .hero-_stars-_star {
    left: 320px;
  }
  #hero .hero-_stars-_star2 {
    left: 360px;
  }
  #hero .hero-_stars-_line5 {
    top: 450px;
  }
  #hero .hero-_stars-_line4 {
    left: 85px;
    top: 420px;
  }
  #hero .hero-_stars-_line2 {
    left: -10px;
    top: 380px;
  }
  #hero .hero-_stars-_star4 {
    left: 90px;
    top: 305px;
  }
  #hero .hero-_stars-_star5 {
    top: 469px;
  }
}
@media (max-width: 361px) {
  #burgerMenu:checked ~ .header--burger {
    display: none;
  }
}
@media (max-width: 320px) {
  #header .header {
    padding: 22px 0;
  }
  #header .header-_logos-_logo {
    font-size: 15px;
  }
  #header .header-_logos-_star {
    left: 73px;
    top: 25px;
  }
  #hero .hero-_sites-_logo h1 {
    font-size: 9px;
  }
  #hero .hero-_sites-_logo-_site-_img {
    width: 73px;
  }
  #hero .hero-_sites-_image-_img2 {
    width: 55px;
  }
  #hero .hero-_sites-_image-_img1 {
    width: 45px;
  }
  #hero .hero-_sites-_image-_img3 {
    width: 70px;
  }
  #hero .hero-_sites-_image-_img4 {
    width: 40px;
  }
  #hero .hero-_sites-_image-_img5 {
    width: 26px;
  }
  #hero .hero-_img-_img-_image {
    width: 115px;
  }
  #hero .hero-_img-_img {
    height: 155px;
    border-radius: 50px;
    padding: 0 138px 0 0;
  }
  #hero .hero-_img-_p {
    font-size: 4px;
  }
  #hero .hero-_img-_image-_text {
    font-size: 4px;
  }
  #hero .hero-_stars-_line2 {
    width: 85px;
    height: 28px;
    top: 367px;
  }
  #hero .hero-_stars-_line4 {
    width: 25px;
    height: 10px;
    left: 76px;
    top: 396px;
  }
  #hero .hero-_stars-_star5 {
    top: 425px;
    left: 88px;
    width: 10px;
    height: 10px;
  }
  #hero .hero-_stars-_line5 {
    left: 219px;
    top: 405px;
    width: 15px;
    height: 15px;
  }
  #hero .hero-_stars-_line3 {
    left: 270px;
    top: 270px;
    width: 25px;
    height: 25px;
  }
  #hero .hero-_stars-_line1 {
    width: 60px;
    height: 20px;
    left: 270px;
    top: 200px;
  }
  #hero .hero-_text {
    font-size: 25px;
    line-height: 30px;
  }
  #hero .hero-_title-_img {
    width: 50px;
  }
  #hero .hero-_title-_image {
    width: 85px;
  }
  #header .header-_logos-_logo2 {
    font-size: 12px;
    height: 15px;
  }
  #hero .hero-_stars-_star {
    left: 280px;
  }
  #hero .hero-_stars-_star1 {
    top: 140px;
    left: 50px;
  }
  #hero .hero-_stars-_line {
    left: 35px;
    top: 175px;
  }
  #hero .hero-_stars-_star4 {
    left: 70px;
    top: 290px;
  }
  #hero .hero-_sites-_image {
    padding: 10px 0;
  }
  #header .header-_input {
    padding: 6px 32px 6px 15px;
  }
  #header .header-_logos-_star {
    left: 71px;
    top: 23px;
  }
  #footer .footer__title-_menu--texts__text2 {
    font-size: 8px;
  }
  #footer .footer__title-_menu--texts__text {
    font-size: 8px;
    line-height: 37px;
  }
  #footer .footer__title--email__text {
    font-size: 9px;
    width: 80px;
    line-height: 17px;
  }
  #footer .footer__title--logo {
    width: 73px;
  }
  #footer .footer__title-_menu--texts {
    width: 51px;
  }
  #footer .footer__title--email__inputs--input {
    font-size: 3px;
    padding: 0 34px 0 8px;
  }
  #footer .footer--block__p {
    width: 55px;
    font-size: 3px;
    line-height: 6px;
  }
  #footer .footer--block__icons--icon {
    height: 11px;
  }
  #footer .footer--block__icons {
    width: 70px;
  }
  #footer .footer--block__S--2022 {
    font-size: 3px;
  }
  #footer .footer--block__S--text {
    font-size: 13px;
  }
  #footer .footer--block__S {
    width: 29px;
  }
  #footer .footer--block {
    width: 255px;
  }
  #footer .footer__title--email__inputs--btn {
    height: 21px;
    width: 21px;
  }
}

/*# sourceMappingURL=media.css.map */
