/*576*/
/*450*/
/*414*/
/*400*/
/*380*/
/*375*/
/*360*/
/*320*/
@import "style";
@media (max-width: 1140px){
  #nfts .nfts--text__tex p {
    font-size: 13px;
  }
  #nfts .nfts--text__tex h1 {
    font-size: 29px;
  }
}
@media (max-width: 1024px) {
  #family .family--img h1 {
    left: -154px;
    top: -160px;
  }
}
@media (max-width: 992px) {
  #nfts .nfts--text label {
    font-size: 25px;
  }
  #family .family--img h1 {
    font-size: 180%;
  }
}
@media (max-width: 768px) {
  #nfts .nfts--text__tex h1 {
    font-size: 150%;
  }
  #nfts .nfts--text__tex h2 {
    font-size: 150%;
  }
  #nfts .nfts--logo h1 {
    font-size: 150%;
  }
  #family .family--logo h1 {
    font-size: 150%;
  }
  #family .family--img h1 {
    left: -120px;
    top: -124px;
  }
}
@media (max-width: 576px) {
  #nfts .nfts--text__tex p {
    font-size: 40%;
    line-height: 16px;
  }
  #nfts .nfts--text__tex h1 {
    font-size: 90%;
    line-height: 23px;
  }
  #nfts .nfts--text__tex h2 {
    font-size: 90%;
  }
  #nfts .nfts--text label {
    padding: 3px;
    font-size: 15px;
  }
  #nfts .nfts--text__lorem p {
    font-size: 32%;
    line-height: 12px;
  }
  #nfts .nfts--text__lorem {
    padding: 6px 50px;
  }
  #nfts .nfts--p p {
    font-size: 63%;
  }
  #family .family--img h1 {
    font-size: 131%;
    left: -86px;
    top: -101px;
  }
}
@media (max-width: 415px) {
  #family .family--logo h1 {
    font-size: 100%;
    line-height: 18px;
  }
  #family .family--logo {
    padding: 0 0 10px 0;
  }
  #family .family--img h1 {
    font-size: 96%;
    left: -67px;
    top: -79px;
  }
  #nfts .nfts {
    padding: 0;
  }
}
@media (max-width: 400px) {
  #nfts .nfts--text__tex p {
    font-size: 1%;
    line-height: 10px;
  }
  #nfts .nfts--text__tex h1 {
    font-size: 61%;
    line-height: 14px;
  }
  #nfts .nfts--text__tex h2 {
    font-size: 53%;
  }
  #nfts .nfts--logo h1 {
    font-size: 113%;
  }
  #nfts .nfts--text {
    padding: 8px 0;
  }
}
@media (max-width: 380px) {
  #nfts .nfts--text__tex p {
    font-size: 5px;
    line-height: 8px;
  }
  #nfts .nfts--text label {
    padding: 0;
    font-size: 10px;
  }
  #nfts .nfts--p {
    padding: 0;
  }
}
@media (max-width:375px) {
  
}
@media (max-width: 360px) {
  
}