*{
  padding: 0;
  margin: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
body{
  background: #15141A;
}

@mixin p{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 29px;
  color: #F1B864;
}
@mixin h1{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 250%;
  line-height: 48px;
  color: #FFFFFF;
}
@mixin between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}