*{
  padding: 0;
  margin: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
body{
  background: #15141A;
}

@mixin between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin textWhite{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
}
@mixin menu{
  text-decoration: none;
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  font-size: 14px;
}
$colorWhite: white;
$backgroundStar: #FF9900;
@mixin heroText{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
$clip-part: polygon(50% 0%, 66% 35%, 100% 50%, 66% 65%, 50% 100%, 34% 65%, 0 50%, 34% 35%);
@mixin hero-text {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@mixin heroBetween{
  display: flex;
  justify-content: space-between;
}
@mixin heroLogo{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #FFFFFF;
}
$position: absolute;
$border: 1px solid #FFFFFF;
$border-radius: 50%;
@mixin font-family{
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #F1B864;
}

@mixin footerFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin footerText {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 70px;
}
@mixin normal{
  font-family: 'Inter',sans-serif;
  font-weight: 600;
  font-size: 29px;
  line-height: 35px;
  color: #FFFFFF;
}
@mixin footerP{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@mixin footerInput{
  background: none;
  border: 1px solid #B5B5B5;
  border-radius: 9px;
  padding: 17px 100px 17px 22px;
  outline: none;
}
@mixin footerButton{
  background: #FE773B;
  border-radius: 2px;
  width: 54px;
  height: 56px;
  position: absolute;
  border: none;
}
@mixin footerIcon{
  color: #FFFFFF;
  width: 20px;
  height: 20px;
}
@mixin footerS{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
}
@mixin footerStart{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@mixin footerEnd{
  display: flex;
  justify-content: flex-end;
}
@mixin line{
  width: 284px;
  height: 0;
  background: #A0A0A0;
  margin: 64px 0 0 0;
  border: 1px solid #A0A0A0;
}