@import "reset";

#footer {
  .footer {
    padding: 31px 0;

    &__title {
      @include footerStart;

      &--logo {
        width: 300px;
      }

      &--email {
        padding: 20px 0 0 0;

        &__text {
          @include footerText;
          width: 290px;
        }

        &__inputs {
          @include footerEnd;
          margin: 30px 0 0 0;

          &--input {
            @include footerP;
            @include footerInput;
          }

          &--btn {
            @include footerButton;

            &__icon {
              @include footerIcon;
            }
          }

          &--btn:hover {
            background:  #763b00;
            cursor: pointer;
          }
        }

      }

      &-_menu {
        @include footerFlex;
        &--texts {
          padding: 20px 0 0 0;
          width: 230px;

          &__text {
            @include footerText;
            @include footerEnd;
          }

          &__text2 {
            @include footerText;
          }
        }
      }
    }

    &--block {
      @include footerFlex;
      width: 1150px;
      padding: 70px 0 0 0;

      &__p {
        @include footerP;
        width: 285px;
      }

      &__icons {
        @include footerFlex;
        width: 260px;

        &--icon {
          height: 40px;
          color: #767676;
        }
        &--icon:hover {
          color: #763b00;
          cursor: pointer;
        }
      }

      &__S {
        @include footerFlex;
        width: 130px;

        &--text {
          @include footerS
        }

        &--2022 {
          @include footerP;
        }
      }
    }
  }
}

