@import "reset";

#Collections {
  background: black;

  .collections {
    &-_texts {
      @include text-collections;

      &-_logo {
        @include font-family;
      }

      &-_text {
        @include inter;
        justify-content: center;
      }
    }

    .swiper {
      @include swiper;
    }

    .swiper-slide {
      @include swiper-slide;
    }

    .swiper-slide img {
      @include swiper-slideImg;
    }

    &-_logo {
      @include normal;
    }

    &-_textP {
      @include center;
      padding: 1px 0 33px 0;
    }

    &-_btn {
      @include btn;
    }

    &-_menu {
      position: absolute;
      margin: 0 0 30px 0;
    }
  }
}

#shop {
  background: black;

  .shop {
    &-_logo {
      padding: 204px 0 0 0;
      @include font-family;
      text-align: center;
    }

    &-_text {
      @include inter;
      @include between;
    }

    &-_btn {
      @include button;
    }

    &-_btn2 {
      @include fillter;
    }

    &-_button1 {
      @include space;

      &-_icon {
        padding: 0 0 0 37px;
      }
    }

    &-_tittle {
      padding: 13px 0 10px 0;
      @include center;
    }

    &--menu__text {
      @include width;
    }

    &-_textPrice {
      display: flex;
      @include center;
    }

    &-_number {
      @include input;
      color: #FEAE51;
    }

    &-_margin {
    }

    &__menu {
      &--img {
        border: 1px solid #A6A6A6;
        width: 311px;
        margin: 30px auto;
        border-radius: 26px;
        padding: 18px 0 0 0;

        &__image {
          width: 284px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
        }

      }
    }

    &-_logotext {
      @include flex;
      margin: 0 auto;
    }

    &-_text1 {
      @include flex;
      margin: 0 auto;
    }

    &-_line {
      @include line;
      margin: 0 auto;
    }

    &-_cristal {
      @include display;
    }

    &--icon {
      &__text {
        display: flex;
        justify-content: space-between;
        width: 84px;
      }
    }

    &-_icon {
      color: white;
    }

    &-_number1 {
      @include number;
    }
    &--icon__text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50px;
    }
    &--menu__logo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &-_btn3 {
      @include leader;
    }
  }
}